.side-menu
  img(src='/public_img/menu_icon.png')
  ul.list-group.list-group-flush.text-center
    li.list-group-item
      a.text-white(href="/") 
        .border ENGLISH DIARY
    li.list-group-item
      a(href="/write") 
        .border(class=active==='write'?'bg-white':'') 일기 쓰기
    li.list-group-item
      a(href="/tutors") 
        .border(class=active==='tutors'?'bg-white':'') 잉다 튜터
    li.list-group-item
      a(href="/community") 
        .border(class=active==='community'?'bg-white':'') 커뮤니티
    li.list-group-item
      a(href="#") 
        .border(class=active==='s'?'bg-white':'') 수강권
    li.list-group-item
      a(href="#") 
        .border(class=active==='service'?'bg-white':'') 부가서비스